<div class="jumbotron"><strong> <%= image_tag message.user.profile_picture(:thumb), id: "profile", width: "60" %>

	<%= local_time(message.created_at) %> - <%= message.user.username%> - </strong><%= message.body  %></div>
