

// Portrait mobile
@media all and (max-width: 575px) { 
	body.pages.index {
		#wrapper {
			grid-template-columns: repeat(1, 1fr);
			grid-template-areas: 
			"top"
		  	"top"
		  	"top"
		  	"main";



			#top-content {


			#welcome {
				 grid-template-columns: repeat(1, 1fr);
				 margin: 15px;
				  grid-template-areas:
				  "logo" 
				  "heading"
				  "subheading"
				  "profile"
				  "name"
				  "study"
				  ".";
				}

			}


			#logo-heading {
				width: 180px;
			}

			#welcome-heading {
				font-size: 20px;
			}

			#welcome-sub-heading {
				font-size: 18px;
			}

			#profile {
				justify-self: center;
				border-radius: 100px;
			}

			#name {
				justify-self: center;
				text-align: center;
			}

			#study {
				justify-self: center;
			}

			#main-content {

				margin: 15px;

					  #boxes {
					    display: grid;
					    grid-gap: 30px;
					    grid-template-columns: repeat(1, 1fr);
					  }

				  #boxes {
				    display: grid;
				    grid-gap: 30px;
				    grid-template-columns: repeat(1, 1fr);
				    grid-template-areas:
				    "box1"
				    "box2"
				    "box3"
				    "box4";
				  }

				}

			  }

	}


 }

// small tablet and lanscape mobile up to iphone x size
 @media all and (max-width: 813px) {  

		body.pages.index {
		#wrapper {
			grid-template-columns: repeat(1, 1fr);
			grid-template-areas: 
			"top"
		  	"top"
		  	"top"
		  	"main";



			#top-content {


			#welcome {
				 grid-template-columns: repeat(1, 1fr);
				 margin: 15px;
				  grid-template-areas:
				  "logo" 
				  "heading"
				  "subheading"
				  "profile"
				  "name"
				  "study"
				  ".";
				}

			#logo-heading {
				width: 200px;
			}	

			#welcome-heading {
				font-size: 20px;
			}

			#welcome-sub-heading {
				font-size: 18px;
			}

			#profile {
				justify-self: center;
				border-radius: 100px;
			}

			#name {
				justify-self: center;
			}

			#study {
				justify-self: center;
			}


			}
		}



	#main-content {

		margin: 15px;

			  #boxes {
			    display: grid;
			    grid-gap: 30px;
			    grid-template-columns: repeat(1, 1fr);
			  }

		  #boxes {
		    display: grid;
		    grid-gap: 30px;
		    grid-template-columns: repeat(1, 1fr);
		    grid-template-areas:
		    "box1"
		    "box2"
		    "box3"
		    "box4";
		  }

		}

	 } 

}


// tablets and laptops 


