$main-background-color: linear-gradient(160deg, #216c98 30%, #80D0C7 100%);


body.pages.index {
  background-image: $main-background-color; 
  height: 100%;






	#wrapper {
	  display: grid;
	  grid-template-columns: repeat(4, 1fr);
	  grid-auto-rows: 280px;
	  grid-template-areas:
	  "top top top top"
	  "top top top top"
	  "main main main main"
	  ". . . .";




	  #top-content {
		  /* background-color: #0093E9;
		  background-image: linear-gradient(160deg, #0093E9 30%, #80D0C7 100%); */
		  grid-area: top;


		  #welcome {
			 grid-template-columns: repeat(3, 1fr);
			  display: grid;
			  grid-gap: 10px;
			  grid-auto-rows: auto;
			  margin: 50px;
			  padding: 20px;
			  border: 15px solid silver;
			  grid-template-areas:
			  "profile logo ."
			  "name logo ."
			  "study logo . "
			  "heading heading heading"
			  "subheading subheading subheading"
			  ". . .";
		}


		#name {
		  grid-area: name;
		  color: white;
		}

		#study {
		  grid-area: study;
		  color: white;
		}

		#logo-heading {
		  grid-area: logo;
		  color: white;
		  justify-self: center;

		}

		#profile {
  			grid-area: profile;
		}

		#profile-picture {
			justify-self: center;
		}

		#welcome-heading {
		  grid-area: heading;
		  justify-self: center;
		  color: white;
		  font-family: 'Open Sans', sans-serif;
		  font-weight: 800;
		  text-align: center;
		}

		#welcome-sub-heading {
		  grid-area: subheading;
		  justify-self: center;
		  color: white;
		  font-family: 'Open Sans', sans-serif;
		  /* font-weight: 800; */
		  font-style: italic;
		  text-align: center;
		}

	

	
	} /* end of top content  */




	#main-content {
	  grid-area: main;
	  margin: 100px;
	}

	#boxes {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(3, 1fr);
	  grid-template-areas:
	  "box1 box2 box3"
	  "box4 . .";


	  .box-headings {
		  display: grid;
		  grid-template-columns: repeat(1, 1fr);
		  grid-auto-rows: minmax(20px, auto);

		 #profile-text-heading {
			  text-align: center;
			  color: #BF4242;
			  align-self: end;
		}


		#events-text-heading {
		  text-align: center;
		  color: #79B509;
		  align-self: end;
		}

		#chat-text-heading {
		  text-align: center;
		  color: #F5B402;
		  align-self: end;
		}

		#user-text-heading {
		  text-align: center;
		  color: #02C6F5;
		  align-self: end;
		}

		.box-sub-heading {
  			justify-self: center;
		}




	}


	.box-images {
		  display: grid;
		  grid-template-columns: repeat(3, 1fr);


		 .box-image-1 {
			width: 75.5px;
			justify-self: center;
		}

		.box-image-2 {
		  width: 75.5px;
		  justify-self: center;
		}

		.box-image-3 {
		  width: 75.5px;
		  justify-self: center;
		}	
	}


	.box-bottom {
		  background-color: #E2E2E2;
		  display: grid;
		  padding: 25px;


		  a #profile-btn {
			  justify-self: center;
			  width: 100%;
			  border-radius: 100px;
			  background-color: #B50909;
			  border: none;
		}

		#profile-btn &:hover {
		  background-color: blue;
		}

		a #event-btn {
		  justify-self: center;
		  width: 100%;
		  border-radius: 100px;
		  background-color: #79B509;
		  border: none;
		}	

		a #chat-btn {
		  justify-self: center;
		  width: 100%;
		  border-radius: 100px;
		  background-color: #F5B402;
		  border: none;
		}

		a #user-btn {
		  justify-self: center;
		  width: 100%;
		  border-radius: 100px;
		  background-color: #02C6F5;
		  border: none;
		}


		#events-text-heading {
		  text-align: center;
		  color: #79B509;
		  align-self: end;
		}


	}




	}



	#box1 {
	  /* padding: 20px; */
	  display: grid;
	  height: 300px;
	  background-color: white;
	  /* box-shadow: 0px 6px 10px 7px #ccc; */
	  grid-area: box1;
	  grid-template-columns: repeat(1, 1fr);
	  grid-auto-rows: 100px;
	  -webkit-box-shadow: 0 2px 8px 0 #ccb7b742;

	  &:hover {
	  	    box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.82);
	  	    transition: box-shadow .25s ease-in,-webkit-box-shadow .25s ease-in;
	  }

	}

	#box2 {
	  /* padding: 20px; */
	  display: grid;
	  height: 300px;
	  background-color: white;
	  /* box-shadow: 0px 6px 10px 7px #ccc; */
	  grid-area: box2;
	  grid-template-columns: repeat(1, 1fr);
	  grid-auto-rows: 100px;
	  -webkit-box-shadow: 0 2px 8px 0 #ccb7b742;


	  &:hover {
	  	    box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.82);
	  	    transition: box-shadow .25s ease-in,-webkit-box-shadow .25s ease-in;
	  }
	}

	#box3 {
	  /* padding: 20px; */
	  display: grid;
	  height: 300px;
	  background-color: white;
	  /* box-shadow: 0px 6px 10px 7px #ccc; */
	  grid-area: box3;
	  grid-template-columns: repeat(1, 1fr);
	  grid-auto-rows: 100px;
	  -webkit-box-shadow: 0 2px 8px 0 #ccb7b742;

	  &:hover {
	  	    box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.82);
	  	    transition: box-shadow .25s ease-in,-webkit-box-shadow .25s ease-in;
	  }
	}

	#box4 {
	  /* padding: 20px; */
	  display: grid;
	  height: 300px;
	  background-color: white;
	  /* box-shadow: 0px 6px 10px 7px #ccc; */
	  grid-area: box4;
	  grid-template-columns: repeat(1, 1fr);
	  grid-auto-rows: 100px;
	 -webkit-box-shadow: 0 2px 8px 0 rgb(47, 23, 23);
	 transition: box-shadow .25s ease-in,-webkit-box-shadow .25s ease-in;

	  &:hover {
	  	    box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.82);
	  	    transition: box-shadow .25s ease-in,-webkit-box-shadow .25s ease-in;
	  }

	}

	// #box5 {
	//   /* padding: 20px; */
	//   display: grid;
	//   border: 10px solid white;
	//   height: 240px;
	//   background-color: red;
	//   box-shadow: 0px 6px 10px 7px #ccc;
	// }

	// #box6 {
	//   /* padding: 20px; */
	//   display: grid;
	//   border: 10px solid white;
	//   height: 240px;
	//   background-color: blue;
	//   box-shadow: 0px 6px 10px 7px #ccc;
	// }

	.box-image {
	  width: 150px;
	  justify-self: center;
	  padding: 10px;
	}

	.box-text {
	  text-align: center;

	}


	} /* end of wrapper  */


}  /* end of index  */









