


<div class="post-form-wrapper">
	<div class="post-form">
		<h3 class="login-text" >Update <%= @chatroom.name  %> channel</h3>
		<%= render 'form', chatroom: @chatroom %>
		<br>
		<%= link_to 'Show', @chatroom, id: "edit", class: 'btn btn-success' %> 
		<%= link_to 'Back', chatrooms_path, class: 'btn btn-danger' %>
	</div>
</div>





