<div class="post-form-wrapper">
	<div class="post-form">
	    <h3 class="login-text" >Create a new channel</h3>
		<%= render 'form', chatroom: @chatroom %>
		<br>
		<%= link_to 'Back', chatrooms_path, class: 'btn btn-danger' %>
	</div>
</div>

