.chatroom-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100px, auto );
	grid-gap: 10px;
				
}

.sidebar {
	background-color: rgba(40, 167, 69, 0.25);
    padding: 20px;
    grid-column: 1 / 4;
    grid-row: 1 / 10;
}

.new-chat-container {
	grid-column: 2;
}