

.wrapper {
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25vh;
  grid-auto-rows: auto;
  align-items: center;
  padding-top: 5%;
  justify-items: center; /* adjusted */
  grid-template-areas:
  "logo"
  "notice"
  "content"
  "content";

  hr {
	  background-color: #3A5695;
	  padding: 5px;
 }

 .logo {
	  grid-area: logo;
	  padding-top: 25px;
 }

#notice {
  grid-area: "notice";
  color: white;
  padding: 20px;
  font-size: 20px;
}

 .content {
  grid-area: content;
  height: 100%;
  width: 75vh;
  background-color: white;

  .heading {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;
  background-color: #3A5695;

  p {
  	color: white;
	font-size: 35px;
	justify-self: center;
	font-weight: 800;
  }



}

.one-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;
  justify-self: center;

  #chat {
  	justify-self: center;
}


}

.four-grid {
  display: grid;
  padding: 20px;
  grid-gap: 0px;
  grid-template-columns: repeat(5, 90px);


  #channel-name {
  	grid-row: 1;
  	font-size: 20px;
  	font-weight: 600;

  }

  #update {
  	grid-row: 2;
  	background-color: #3A5695;
  	border-radius: 8px;
  	color: white;
  	border: 0px;
  	width: 80px;
  }

  #remove {
    grid-row: 2;
    background-color: red;
    border-radius: 8px;
    color: white;
    border: 0px;
    width: 80px;
}

#join {
    grid-row: 2;
    background-color: #3A9541;
    border-radius: 8px;
    color: white;
    border: 0px;
    width: 80px;
}

#leave {
    grid-row: 2;
    background-color: #E89818;
    border-radius: 8px;
    color: white;
    border: 0px;
    width: 80px;
}



}

.add-channel {
  display: grid;
  grid-template-columns: 1fr;
  padding: 100px;
  padding-top: 30px;

}

#add {
  padding: 25px;
  background-color: #577EB9;
  border: 0;
  color: white;
  font-size: 30px;
  font-weight: 600;
  justify-self: center;
}



}


}
// end of wrapper



@media (max-width: 599px) {
  .wrapper {
  	padding-top: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh;
    align-items: center;
    justify-items: center; /* adjusted */
    grid-template-areas:
    "logo"
    "notice"
    "content"
    "content";


    .content {
    width: 50vh;

      .four-grid {
    display: grid;
    grid-gap: 10px;
    padding: 15px;
    grid-template-columns: repeat(4, 1fr);

    #join {
    grid-row: 3;

  }

  #leave {
    grid-row: 3;
  }
  
  }
	.add-channel {
    padding: 30px;
    padding-top: 20px;
  }

  
  }






}

  




}


