$main-background-color: linear-gradient(160deg, #216c98 30%, #80D0C7 100%);


body.chatrooms.index {
  background: $main-background-color;

    #channel-wrapper {
    margin-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "back logo logo ."
    ". channel-box channel-box .";


    .back-btn {
      grid-area: back;
      justify-self: center;
      padding: 20px;
      border-radius: 0px;
    }

    #chatroom-logo {
      grid-area: logo;
      justify-self: center;

      .logo {
        width: 200px;
      }

    }



    .channel-box {

      /* padding: 10px; */
      grid-area: channel-box;
      /* grid-gap: 10px; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      background-color: white;
      overflow: scroll;


      #channel-heading {
        padding: 20px;
        color: white;
        text-align: center;
        font-weight: 600;
        background-color: #3A5695;
        margin: 0;
    }

    .chat-image {
        background-color: white;
        justify-self: center;
      }


    #channel-logo {
      background-color: white;
      padding: 20px;

    }

    .line {
      background-color: #3A5695;
      padding: 5px;
    }


    .channel-name {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
      font-weight: 600;


      #channel-name {
        grid-row: 1;
        grid-column: 1 /4;
        color: black;
        font-weight: 700;
        font-size: 1.2rem;
        padding-bottom: 15px;

        
    }


    .buttons {
      margin: 0;
      grid-row: 2;
      padding: 5px;
    }


   

    }

     .add-channel {
      padding: 40px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
      font-weight: 600;


      #add-btn {
        justify-content: center;
        border-radius: 0px;
        padding: 30px;
        font-size: 1.5rem;
    }




    }







  }


  }
}

  @media all and (max-width: 575px)  {
    body.chatrooms.index {
      
      #channel-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "back back back back"
        "logo logo logo logo"
        "channel-box channel-box channel-box channel-box";

    }


    .channel-box {
      margin: 10px;
    }
      

    }
  }


