body.posts.edit {
	background-image: linear-gradient(160deg, #216c98 30%, #80D0C7 100%);
	height: 100%;
	background-size: cover;



	.post-form-wrapper {
		display: grid;
	    grid-template-columns: 1fr;
	    margin: 5%;
	    border: 1px solid white;


	    .post-form {

		    .new-event {
		    	text-align: center;
		    	line-height: 1.2;
				font-weight: bold;
				font-family: 'Open Sans', sans-serif;
				font-weight: 800;
		    }

		}



	    .post-form {
	    	padding: 5%;
	    	background: white;
	    }
	}
}