body.posts.index {

	$main-background-color: linear-gradient(160deg, #216c98 30%, #80D0C7 100%);
	background-color: white;
	transition: 0.25s all ease;


	.bg-light {
		background-color: #0093E9;
	    background-image: -webkit-linear-gradient(70deg, #216c98 30%, #80D0C7 100%);
	    background-image: -o-linear-gradient(70deg, #216c98 30%, #80D0C7 100%);
	    background-image: linear-gradient(160deg, #216c98 30%, #80D0C7 100%);
	}

	
	#posts-home-wrapper {


		display: grid;
		grid-template-columns: repeat(4, 1fr);
		// border: 1px solid black;
		grid-auto-rows: auto;
		grid-gap: 15px;
		margin: 60px;
		grid-template-areas: 
			"new-post header header dashboard"
			"post-count post-count post-count  post-count"
			". . . ."
			"post post post post";




		#add-post-button{
		    width: 50%;
		    padding: 20px;
		    background-color: #009688;
		    border: none;
		    border-radius: 0px;
		}	

		#back-to-dash{
		    width: 50%;
		    padding: 20px;
		    background-color: red;
		    border: none;
		    border-radius: 0px;

		}	

		#post-count-section {
			grid-area: post-count;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: auto;
			background-image: $main-background-color; 
			padding: 20px;



			#count-post {
				// border: 1px solid grey;
				justify-self: center;
				padding: 20px;
				margin: 0;
				align-self: center;
				color: white;
				font-weight: 600; 
				font-size: 2rem;
			}

			#count-user {
				margin: 0;
				// border: 1px solid grey;
				justify-self: center;
				align-self: center;
				padding: 20px;
				color: white;
				font-weight: 600; 
				font-size: 2rem;
				
			}

			#count-comment {
				margin: 0;
				// border: 1px solid grey;
				justify-self: center;
				padding: 20px;
				align-self: center;
				color: white;
				font-weight: 600; 
				font-size: 2rem;
				
			}

			#count-tags {
				margin: 0;
				// border: 1px solid grey;
				justify-self: center;
				padding: 20px;
				align-self: center;
				color: white;
				font-weight: 600; 
				font-size: 2rem;
				
			}

		}

		

		
		

		#header {
			grid-area: header;
			// border: 1px solid black;
			justify-self: center;
			font-weight: 600;
			text-align: center;

			.hr-custom {
				border: 3px solid #3c86a5;
    			width: 30%;

			}




			#main-heading {
				font-family: Poppins, Helvetica, Arial, sans-serif;
				font-weight: 600;
				line-height: 46px;
				font-size: 3rem;
				color: #30353a;

			}

			#new-post-btn {
				grid-area: new-post;


				#button {
					width: 100%;
				    padding: 14px;
				    border-radius: 0px;
				}
			}


			#dashboard-btn {
				grid-area: dashboard;
				justify-self: end;
			}
		}




		#posts-section {
			grid-area: post;
			// border: 1px solid black;


			#boxes {
				display: grid;
				grid-gap: 20px;
				grid-template-columns: repeat(3, 1fr);
				// border: 1px solid green;
				grid-auto-rows: auto;


				 .card {
				    	box-shadow: 0px 5px 20px #9e9e9ec2;
				    	padding-bottom: 5px;
				    	transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
    					transition-delay: .1s;

				    	&:hover {
			    		    opacity: 1 !important;
						    box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
						    transform: translate(0, -4px);
						    z-index: 999;
						    transition: 0.40s all ease;
				    	}


				    	.card-content {
				    		margin: 2%;
				    	}

				    
				  }


				div  {
					// border: 1px solid red;
					color: #4f5256;
				    font-weight: 400;
				    line-height: 1.618;
				    -webkit-font-smoothing: antialiased;


				   
					


					.post-heading a {
						padding: 5px;
						color: #30353a;
    					text-decoration: none;
    					margin-top: 3%;
    					font-weight: 700;
					}

					.card-hr {
						color: #3c85a5;
						border: 0.8px solid;
					}

					
					.post-text {

					}

					.post-creator {
						color: black;
						font-weight: 600;
					}

					.tags  {
					    background-color: #3e87a5;
					    color: white;
					    padding: 7px;
					    border-radius: 100px;
					    font-size: 0.6rem;
					}


					.read-post-btn {
						width: 40%;
						border: none;
						border-radius: 0;
						padding: 10px;
						background-color: #3c85a5c4;

					}
				}
				
			}








		}

	}

}

@media all and (max-width: 575px)  {
body.posts.index {

		
	#posts-home-wrapper {
		margin: 30px;
		grid-template-columns: repeat(1, 1fr);

		#add-post-button{
			width: 100%;
			padding: 10px;
		}

		#back-to-dash {
			width: 100%;
			padding: 10px;
		}


		#header {
			#main-heading {
				font-size: 1.5rem;
				line-height: 30px;
			}
		}

		#post-count-section {
			grid-template-columns: repeat(1, 1fr);

			#count-post {
				font-size: 1.5rem;
			}

			#count-user {
				font-size: 1.5rem;
			}

			#count-tags {
				font-size: 1.5rem;
			}

			#count-comment {
				font-size: 1.5rem;
			}
		}


		#posts-section {

		
			#boxes {
				grid-template-columns: repeat(1, 1fr);
			}
		}



	}




	}




}

